name: Post E2E Test Results

run-name: "Post results to PR #${{ github.event.workflow_run.pull_requests[0].number || 'N/A' }}"

on:
  workflow_run:
    workflows: ["E2E Tests"]
    types:
      - completed

permissions:
  actions: read
  contents: read
  pull-requests: write

jobs:
  post-results:
    if: github.event.workflow_run.event == 'pull_request' && github.event.workflow_run.conclusion != 'cancelled'
    uses: ./.github/workflows/pr-comment.yml
    permissions:
      actions: read
      contents: read
      pull-requests: write
    secrets: inherit
    with:
      run_id: ${{ github.event.workflow_run.id }}
