on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  e2e-tests:
    uses: ./.github/workflows/test-base.yml
    with:
      goodmap-version: 'main'
      goodmap-frontend-version: 'main'
      goodmap-e2e-version: ${{ github.sha }}
      calling-repo: 'goodmap-e2e-tests'
      e2e-tests-path: '.'
      goodmap-path: 'goodmap'
      goodmap-frontend-path: 'goodmap-frontend'
