name: E2E Tests

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  e2e-tests:
    uses: ./.github/workflows/e2e-tests.yml
    permissions:
      contents: read
    secrets: inherit
    with:
      goodmap-version: 'main'
      goodmap-frontend-version: 'main'
      calling-repo: 'goodmap-e2e-tests'
      e2e-tests-path: '.'
      goodmap-path: 'goodmap'
      goodmap-frontend-path: 'goodmap-frontend'
