on:
  workflow_call:
    inputs:
      goodmap-version:
        required: true
        type: string
      goodmap-frontend-version:
        required: true
        type: string
      goodmap-repository:
        required: false
        type: string
        default: problematy/goodmap
      goodmap-frontend-repository:
        required: false
        type: string
        default: problematy/goodmap-frontend
      goodmap-e2e-version:
        required: false
        type: string


jobs:
  e2e-tests:
    name: E2E tests
    runs-on: ubuntu-latest
    steps:
    - name: Checkout tests repository
      uses: actions/checkout@v4
      with:
        path: goodmap-e2e-tests
        repository: problematy/goodmap-e2e-tests
        ref: ${{ inputs.goodmap-e2e-version }}
    - name: Checkout goodmap repository
      uses: actions/checkout@v4
      with:
        path: goodmap
        repository: problematy/goodmap
        submodules: 'true'
        ref: ${{ inputs.goodmap-version }}
    - name: Checkout goodmap frontend repository
      uses: actions/checkout@v4
      with:
        repository: problematy/goodmap-frontend
        ref: ${{ inputs.goodmap-frontend-version }}
        path: goodmap-frontend
    - name: Install frontend dependencies
      working-directory: goodmap-frontend
      run: npm install
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"
    - name: Install Poetry
      uses: snok/install-poetry@v1
      with:
        version: 'latest'
    - name: Install python dependencies
      working-directory: goodmap
      run : poetry install
    - name: Install e2e dependencies
      working-directory: goodmap-e2e-tests
      run: npm install
    - name: Run tests
      working-directory: goodmap-e2e-tests
      env:
        CONFIG_PATH: /workspace/goodmap-e2e-tests/e2e_test_config.yml
        GOODMAP_PATH: /workspace/goodmap
        GOODMAP_FRONTEND_REPOSITORY: ${{ inputs.goodmap-frontend-repository }}
      run: |
        set -e
        (cd ../goodmap-frontend && make serve)&
        make run-e2e-goodmap
        make e2e-tests
